.details {
  &__container {
    width: 200px;
    border: 1px solid gray;
    padding: 20px;
    margin: 20px auto;
    width: 300px;

    &_empty {
      visibility: hidden;
    }
  }

  &__pic {
    display: block;
    margin: 0 auto;
  }

  &__name {
    text-transform: capitalize;
    text-align: center;
  }

  &__field{
    &_title {
      text-transform: capitalize;
      text-align: center;
    }
    &_content {
      width: 60px;
      text-transform: capitalize;
    }
  }

  &__table {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    
    th, td {
      border: 1px solid gray;
      padding: 10px;
    }
  }
}