.pokemon {
  &__container {
    width: 180px;
    height: 230px;
    border: 1px solid black;
    margin: 20px 20px 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    text-transform: capitalize;
  }

  &__type {
    text-transform: capitalize;
    display: inline;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }

  &__pic {
    display: flex;
    align-self: center;
    justify-content: center;

    & > img {
      object-fit: cover;
    }
  }
}