.page {
  &__container {
    padding: 50px;
  }

  &__header {
    border: 1px solid black;
    text-align: center;
    width: fit-content;
    padding: 10px 70px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      flex: 1;
    }
  }
}


@media screen and (max-width: 741px) {
  .page {
    &__container {
      padding: 10px;
    }

    &__content {
      flex-direction: column;
      &_list {
        order: 2
      }
    }
  }
}